<div class="col-9" style="padding: 0; margin-bottom: 12px;">
    <input class="form-control" type="text" placeholder="Option"/>
</div>
<div class="col-3" style="padding: 0 0 0 12px; margin-bottom: 12px;">
    <button class="btn btn-primary" style="float: right; margin-left: 6px;" title="Mark Correct">
        <i class="fa fa-check"></i>
    </button>
    <button class="btn" style="float: right; margin-left: 6px;" title="Remove option">
        <i class="fa fa-minus"></i>
    </button>
    <button class="add-more-option-mcqma btn" style="float: right; margin-left: 6px;" title="Add more option">
        <i class="fa fa-plus"></i>
    </button>
</div>
<div class="col-12" style="padding: 0; margin-bottom: 012px;">
    <input class="form-control" type="text" placeholder="Explanation"/>
</div>