.option-input {
    width: 84%;
    display: inline-block;
    margin-bottom: 10px;
}

.option-action-btn {
    margin-bottom: 10px;
    margin-left: 3px;
    float: right;
    width: 40px;
}

.custom-control-label::before,
.custom-control-label::after {
    top: .8rem;
    width: 1.25rem;
    height: 1.25rem;
}

.options-div .btn {
    padding-left: 8px;
}